Source: dp-driver
Maintainer: Upal Kumar Saha <usaha@qti.qualcomm.com>
Build-Depends: debhelper-compat (= 12)

Package: dp-driver
Architecture: all
Depends: dkms, mhi-host
Description: debian package for dp-driver
 This package installs dp driver.
